body{ margin:0;}
#nametag{ text-align: center; color:gray;}
#wrap{ width: 1200px; margin: 0 auto; overflow:hidden; border: solid 1px lightgray;}

.clear { clear:both; height:0; overflow:hidden; }
.float_right{ float:right;}
.float_left{ float:left;}

#m_box{display: inline-block;
    margin: 15px 0 0 15px;}
#main{ height: 582px;}
#main h1{ 
    font-size: 15px;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;}
#logo{ float:left;}
#main #NB{ float:right;
    box-shadow: -20px -35px 40px gray;}
#title{ 
    display:inline-block;
    position: relative;
    top:-370px;
    left: 125px;
    font-size: 70px;
    font-weight: bold;
    margin:0;
}
#who {
    display: inline-block;
    text-align: center;
    position: relative;
    color:white;
    font-size: 20px;
    top: -280px;
    left: -210px;
}
/* #m_text .black{ color: black;}
#m_text #red{ background-color: #b82b2b; }
#m_text h2{ 
    font-size: 70px; 
    color: white;
    margin: 0;
    position: absolute;
    top: 200px;
    left: 366px;
}
#m_text p{ 
    color: white;
    font-size: 20px;
    text-align: center; 
    position: absolute;
    top: 270px;
    left: 453px;
} */
#intro_box{
    background-color: #b82b2b;
    padding: 75px;
    height: 320px;
    margin-top: -30px;
    
}
#text_box{
    width: 600px;
    color: white;
}
#text_box p {
    font-size: 14px;
    line-height: 1.8em;
    margin-top: 35px;
}
#brody{ margin-top: 80px;}

#typo{ 
    position: relative;
    top: -30px;
    left: 75px;
}

#content1{ width: 1050px; margin: 0 auto; padding: 100px 75px 0 75px; display: flex;}
#content1 p{ font-size: 14px; line-height: 1.5em;}
#ty1, #ty2, #ty3{ width: 350px; }
#ty1{ text-align: right; }
#ty2{ display:flex; align-items: flex-start; justify-content: center;}
#ty3_2 { margin-top: 100px;}

#content2{ width: 1050px; margin: 0 auto; padding: 50px 75px; display: flex;}
#content2 p{ font-size: 14px; line-height: 1.5em;}
#ty4{ width: 350px; display: flex; justify-content: flex-end;}
#ty5{ width: 400px; margin-left: 50px; display: flex; align-items:center;}

#content3{ width: 1050px; margin : 0 auto; padding: 0 75px 150px 75px; display: flex; justify-content: center;}
#content3 p{ font-size: 14px; line-height: 1.5em;}
#ty6{ width: 400px; height: 360px; text-align: right;  display: flex; align-items: center; justify-content: flex-start;}
#ty7{ width: 350px; height: 360px;}
#ty8{ position: relative; top:-120px; right: -220px;}

#part1{
    background-image: url('../img/NEVILLE\ BRODY_black.png'), url('../img/NEVILLE\ BRODY_red.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 59%, 59%;
    background-position: -60px 300px, 650px 720px;
}
#font_preview{
    width: 1950px;
    position: relative;
    left: -670px;
    margin-bottom: 70px;
}
#nb_font {
    padding: 0 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#blur1, #blur2{ width: 525px;}
#blur1{ display: flex; align-items: center;}
#blur2 p{ font-size: 14px;}
#part2 {margin-bottom: 100px;}

#part3 {width: 1050px; padding: 0 75px; margin-bottom: 150px;}
#part3 h3{ font-size: 27px; letter-spacing: 0.5em;}

#innerbox3{
    width: 700px;
    display: flex;
    justify-content: space-between;
}
#wk1 p{ font-size: 17px; margin-top: 0;}
#wk1, #wk2, #wk3, #wk4{ width: 160px; height: 320px;}
#wk1 img, #wk2 img, #wk3 img, #wk4 img{ width: 160px; border: solid 1px lightgray;}
#wk2, #wk4{ display: flex; align-items: flex-start;}
#wk3 {display:flex; align-items: flex-end;}
#wk_text{ width: 250px; font-size: 13.5px; line-height: 1.5em;}

#outbox{ display: flex; justify-content: space-between;}
#outbox p{margin-top: 0;}

#more{ 
    width: 60px;
    color:white;
    float:right;
    text-align: center;
    margin-bottom: 20px;
    background-color: #b82b2b; 
    border-radius: 10px;}

#part4 { width: 1050px; padding: 0 0 0 75px; margin-bottom: 150px;}
#part4 h3{ font-size: 27px; letter-spacing: 0.5em; margin-top: 10px;}
#part4 h4{ margin-bottom: 0;}
#part4 p{ margin: 0;}
#innerbox4{ display:flex; justify-content: space-between;}
#mg_text{font-size: 14px; line-height: 1.5em;}
#mg_text, #mg1, #mg2, #mg3{ width: 250px; height: 350px;}
#mg1 img, #mg2 img, #mg3 img{ width: 250px;}

#part5 {
    width: 1050px; 
    margin: 0 auto;
    position: relative;
}
#part5 h3{ 
    font-size: 27px; 
    text-align: center;
    margin-bottom: 50px;
}
#b_text{ 
    width: 250px; 
    padding-left: 85px;
    margin-top: 90px;
}
#b_text h4{ font-size: 20px;}
#b_text p{ font-size: 14px; line-height: 1.5em;}
#all1{display: flex; justify-content: space-between;}
#innerbox5{ width: 350px; display: flex; align-items: center;}

#innerbox{ 
    width:1200px;
    margin: 0 auto;
}
#bonn_typo{
    position: absolute;
    right: -75px;
    top:97px;
}

#all2{ display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top:-30px;
    z-index: -1;
}
#h_text{
    width:250px;
    padding-right:50px;
}
#h_text h4{margin-top:0; font-size:20px;}
#h_text p{font-size:14px; line-height: 1.5em;}


#part6{
    width:1080px;
    margin: 0 auto;
    margin-top: 80px;
}
#vandals{
    display: flex;
    justify-content: space-between;

}
#v_text{ 
    width: 250px;
    padding-left: 85px;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom:50px;
}
#v_text h4{ font-size: 20px;}

#part7{ width: 1140px; padding-left:15px;}
#pb{margin-top: 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end;}
#pb_2{ padding-left:20px;}
#pb_2, #pb_3{ margin-bottom: 10px;}
#pb_3{padding-right:30px;}
#pb_text{ width: 250px; font-size: 14px; line-height: 1.5em;}
#pb_text h4{ font-size: 20px;}


#final{ 
    position: relative;
    width: 1080px;
    margin: 150px auto 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#final #say{width: 470px; }
#final #nv_img{
    position: absolute;
    right: 0px;
}
#saying{ 
    font-size: 20px;
    font-weight: bold;
    margin-bottom:30px;
    line-height: 1.5em;
}
#saying2{ line-height: 1.5em; 
    margin-bottom:50px;
}
footer{ 

    padding: 30px;
    background-color:#b82b2b;
    color: white;
    display: flex;
    justify-content: flex-start;
}    
footer #sns{ font-weight: bold; }
footer ul{margin:0;}
footer li{ list-style: none; 
    padding: 2px; 
    font-size: 13px;
}
#footer_box1 { 
    width: 350px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#footer_box2 { font-size: 13px; padding-left: 70px;}
