/* -------------------- weapon --------------------- */
#weapon{
    width: 100vw;
    height: 450px;
    background: linear-gradient(135deg, var(--weapon-deep-black) 40%, var(--weapon-deep-blue));
    position: relative;
}
#weapon-in{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
}
.weapon-wrap{
    width: 100%;
    position: relative;
    height: 400px;
}

.slider-container{
    position: absolute;
    height: 400px;
    width: 100%;
    /* padding: 0 10%; */
    box-sizing: border-box;
    /* overflow: hidden; */
    
}

.slider-container.animated {
	-webkit-transition: left .3s ease-in;
    transition: left .3s ease-in;
}
.slider-container.animated.none{
    display: none;
}



/* ----------!!!!!!무기종류 slider!!!!!!---------- */

.AR-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none;  */
}

.SR-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display:none; */
}

.DMR-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}

.SG-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}

.OTHERS-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}

.SMG-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}

.SIDEARM-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}

.MELEE-slider{
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}

.slider{ 
    width: 100vw;
    padding: 0 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    box-sizing: border-box;
    /* display: none; */
}
/* ----------무기종류 slider END!!!!!---------- */


.weapon-img, .weapon-img img{
    width: 300px;
}
.weapon-img img{
    transform: rotate(-15deg);
}
.slide-tx{
    width:500px;
    color: white;
}
.slide-tx h4{
    font-size: 50px;
    font-weight: normal;
    font-family: var(--point-font);
    margin:0;
}
/* waepon nav */

#weapon-type-box{
    max-width: 1280px;
    width:100%;
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}
#weapon-type-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin: 0 100px;
    margin-bottom:30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width:100%;
}
#weapon-type-nav li{
    
    font-family: var(--point-font);
    font-size: 28px;
    color: white;
    list-style: none;
    cursor: pointer;
}

#prev-nex-wrap{
    max-width:1280px;
    width:100%;
    position: absolute;
    z-index:999;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}
    
#prev-nex-in{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#prev, #nex{
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#prev{
    /* left: 10%; */
    cursor: pointer;
}
#nex{
    /* right: 10%; */
    cursor: pointer;
    
}

#prev.disabled, #nex.disabled { display:none;}